@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
:root {
    --verde-escuro: #14732E;
    --roxo: #480048;
    --vermelho: #C04848;
    --vermelho-btn: #BF0006;
    --vermelho-escuro: #8a0004;
    --cinza-mais-escuro: #333333;
    --cinza-escuro: #4d4d4d;
    --cinza-claro: #cecece;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, #root {
    height: 100vh;
    width: 100vw;
    background: #C04848;
    background: linear-gradient(to right, var(--roxo), var(--vermelho));
}

html{
    font-size: 100%;
    overflow-x: hidden
}


.scroll::-webkit-scrollbar {
    width:5px;
}

.scroll::-webkit-scrollbar-track {
    background: #fff;
}

.scroll::-webkit-scrollbar-thumb {
    background: #bfbfc0;
    transition: background 5s
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3;
    transition: background 5s
}

.d-block{
    display: block;
}
.closeScroll{
    overflow: hidden;
}


@keyframes forDown {
    from{
        height: 0;
    }
    to{
        height: 100vh;
    }
}

