.input-block {
    display: flex;
    flex-direction: column;
}

.input-block label {
    font-size: 15px;
    text-transform: uppercase;
}

.input-block input {
    padding: 0 5px;
    border: none;
    color: #000;
    background-color: #fff;
    font-size: 15px;
    height: 30px;
    border-bottom: 2px solid #000;
}

.input-block input::placeholder {
    color: #a3a3a3;
}

.input-block input:focus {
    outline: none;
    border-bottom: 2px solid var(--cinza-claro);
    transition: border-bottom .2s;
}

.input-block label i {
    margin: 0 5px;
}
