form {
    width: 75%;
    display: block;
    margin: 0px 200px 0px 10px;
    background-color: #fff;
    box-shadow: 1px 1px 15px black;
    color: var(--cinza-escuro);
    border-radius: 5px;
}

form p {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

form span {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #363636;
    text-decoration: none
}

form span:hover {
    text-decoration: underline;
    cursor: pointer;
}

form .inputs {
    padding: 15px 20px;
    margin: 0px 30px;
}

form .input-block~.input-block {
    margin-top: 40px;
    margin-bottom: 40px;
}

form input[type=checkbox] {
    margin-bottom: 30px;
    margin-right: 5px;
}

form .btn-form {
    color: #fff;
    width: 150px;
    height: 2.4rem;
    text-transform: uppercase;
    background-color: var(--cinza-escuro);
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px black;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin: 0px auto 20px auto;
    transition: background-color .2s
}

form .btn-form:hover {
    background-color: var(--cinza-mais-escuro);
    cursor: pointer;
    border: none;
    transition: background-color .2s
}

@media (min-width: 1500px) {
    form .inputs{
        font-size: 1.9rem;
    }
    form p {
        font-size: 3rem;
    }
    form span {
        font-size: 1.7rem;
    }
    form .btn-form{
        font-size: 1.7rem;
        height: 3rem;
    }
}

@media (max-width: 330px) {
    form .inputs{
        padding-left: 0;
        padding-right: 0;
    }
}