.container-general {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100%;
}

.container-general .container-dashboard {
    background-color: #fff;
    height: 100%;
    min-width: 305px;
}

.container-dashboard .profile {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #eeeeee;
}

.container-dashboard .profile .datas {
    font-size: 1rem;
    margin: 5px;
}

.container-dashboard .profile .btn-add-group {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: #646464
}

.container-chat .info-group {
    height: 50px;
    background: #eeeeee;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    padding: 5px 20px;
    border: .5px solid #c7c5c5
}

.container-chat .info-group .text-group {
    padding: 0px 15px;
}

.container-chat .container-input {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    bottom: 0px;
    height: 85px;
    width: 100%;
    background-color: #eeedeb;
}

.container-chat .container-input i {
    display: flex;
    align-items: center;
    margin: auto 15px auto 8px;
    color: #9b9a98;
}

.container-chat .container-input i:hover {
    cursor: pointer;
    color: var(--cinza-mais-escuro)
}

.container-chat .container-input i svg {
    font-size: 40px;
}

.container-chat .container-input input {
    color: var(--cinza-escuro);
    height: 50px;
    font-size: 18px;
    width: 65%;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
}

.container-chat .container-input input:focus {
    outline: none;
}

.bar {
    width: 30px;
    height: 3px;
    background: #9b9a98;
    margin: 3px
}

.toggle-groups {
    display: none;
    background: transparent;
    border: none
}

.toggle-groups:hover {
    cursor: pointer;
}

.logo-list {
    display: flex;
    flex-direction: collumn;
    justify-content: center;
    line-height: 1.2rem;
    margin-top: 20px;
    color: #cecece
}

.logo-list i {
    display: flex;
    flex-direction: collumn;
    align-items: center;
    font-size: 1.5rem;
}

.img-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 1255px) {
    .container-general {
        display: block;
    }
    .container-general .container-dashboard {
        height: 50px;
    }
    .toggle-groups {
        display: block;
    }
    .logo-list {
        display: none;
    }
    .info-group {
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .profile {
        position: fixed;
        width: 100%;
        z-index: 10;
    }
}