.list-groups {
    height:500px;
    overflow-y: auto;
}

.list-groups ul {
    padding: 10px;
    padding-bottom: 50px
}

.list-groups ul li {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    margin-top:2px;
    margin-bottom: 2px;
}
.list-groups ul li .container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-1px;
}

ul li .btn-group {
    display: inline-block;
    text-align: left;
    height: 60px;
    border: none;
    background: transparent;
    border-bottom: .5px solid #c7c5c5;
    transition: background .2s;
    font-weight: inherit;
    font-size: 18px;
    padding-left: 10px;
}

ul li .btn-group:hover {
    background: var(--cinza-claro);
    transition: background .2s;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5x;
}

ul li .btn-group:active {
    border: none;
    outline: none;
    background: #c7c7c7;
    font-weight: bold;
}

ul li .btn-group:focus-within {
    outline: none;
}

.choose-group{
    background: #a7a6a6;
    border-radius: 5px;
    transition-property: border-radius, background;
    transition-duration: .2s;
}

@media (max-width: 1255px) {
    .list-groups{
        display: none;
        position: fixed;
        top: 100px;
        width: 100vw;
        height: 91vh;
        z-index: 10;
        background: #fff;   
        animation: forDown 1s         
    }
}
