.modal{
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 10;   
    position: fixed; 
    background: rgba(99, 99, 99, 0.699);
    top: 50px;
    left:0;
}
.modal form{
    display: flex;
    flex-direction: column;
    margin: 100px auto auto auto;
    width: 200px;
    padding: 20px
}
.modal form input[type=submit]{
    margin-top: 5px;
}